argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
Django==5.2.3
django-cors-headers==4.3.1
django-minio-storage==0.5.8
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
environs==9.5.0
marshmallow==4.0.0
minio==7.2.15
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.23.0
PyJWT==2.9.0
python-decouple==3.8
python-dotenv==1.1.1
pytz==2025.2
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.5.0
python-json-logger>=2.0.0